.big {
  display: grid;
  grid-template-columns: 760px 680px;
  grid-template-areas: "pic all";
}

body { font-family: Barlow;
@ -9,4 +10,13 @@ background-color: #EFF6FF;

 }

 .facebut {

  padding: 10px; color: "#255A9B";


 }

 .img {
   grid-area: pic;
 }