.big {
  display: grid;
  grid-template-columns: 760px 900px;
  grid-template-areas: "pic all";
  padding-top: 20px;
}

body { font-family: Barlow;
background-color: #EFF6FF;
padding-left: 30px;

 }

 .facebut {
padding: 10px; color: "#255A9B";
margin: 20px;
}

.linkedin  {
  padding: 10px; color: "#0076B6";
  margin: 20px;
  }

 .img {
   grid-area: "pic";
   padding-top: 20px;
 }
 .all {grid-area: "all";
  padding-top: 70px;
  padding-left: 200px;

 }

 article {background-color: #ffffFF;

  
}

.or {margin: 30px;}
.radio {padding: 50px}

#email {width:"25px;"}

input {margin: 15px;}


